<section
  style="background-color:black;"
  class="py-3"
>
  <div class="container-lg">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-12 text-lg-start text-center">
        <p class="cursor text-white">
          Copyright © 2023 |
          <span class="fw-bold" style="color: #ffc107;">
            Memo Auto Repair
          </span>
          | All Rights Reserved.
        </p>
      </div>
      <div class="col-lg-6 col-12 text-lg-end text-center">
        <p class="cursor text-white fw-bold lead">
          Follow Us:
          <span>
            <a
              style="text-decoration: none;"
              href="https://www.facebook.com"
              target="_blank"
            >
              <i
                class="bi bi-meta decorat ms-md-2"
                style="font-size: 25px;"
              ></i>
            </a>
            <a
              style="text-decoration: none;"
              href="https://www.linkedin.com"
              target="_blank"
            >
              <i class="bi bi-linkedin ms-sm-2"></i>
            </a>
            <a
              style="text-decoration: none; font-size: 25px;"
              href="https://www.instagram.com/"
              target="_blank"
            >
              <i
                class="bi bi-instagram ms-sm-2"
                style="color: red; font-size: 20px;"
              ></i>
            </a>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
