<footer class="py-3 text-white fw-bold" style="background-color: black;">
  <div class="container">
    <div class="row row align-items-start">
      <div class="col">
        <p>&copy; 2023 - All rights reserved</p>
      </div>
      <div class="col">
        <ul class="list-inline text-md-right mr-6">
          <li class="list-inline-item">Follow Us : </li>
          <li class="list-inline-item">
            <a href="https://youtube.com/@memo_auto_repair" target="_blank"><i class="fab fa-youtube fa-2x text-danger"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/profile.php?id=100092532078793" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/memoautorepairny/" target="_blank"><i class="fab fa-instagram fa-2x text-danger "></i></a>
          </li>
        </ul>
      </div>
      <div class="col">
        <!-- Botón para abrir el modal -->
        <li class="list-inline text-md-right mr-6" type="button" data-bs-toggle="modal" data-bs-target="#creditModal">
          Credits
        </li>
          </div>
    </div>
  </div>
  <div>
<!-- Modal -->
<div class="modal fade" id="creditModal" tabindex="-1" aria-labelledby="creditModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title text-dark" id="creditModalLabel">Image credits</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body text-dark">
    <p>We would like to extend our sincere gratitude to the following images for their contribution to this project:</p>
  <a href="https://www.flaticon.com/free-icons/oil" title="oil icons">Oil icons created by surang - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/freno" title="freno iconos">Freno iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/nino" title="niño iconos">Niño iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.es/iconos-gratis/llanta-de-carro" title="llanta de carro iconos">Llanta de carro iconos creados por Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/circuit" title="circuit icons">Circuit icons created by Good Ware - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/electronics" title="electronics icons">Electronics icons created by Vitaly Gorbachev - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/magnifying-glass" title="magnifying glass icons">Magnifying glass icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/mechanic" title="mechanic icons">Mechanic icons created by monkik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/spare-parts" title="spare parts icons">Spare parts icons created by IYIKON - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/muffler" title="muffler icons">Muffler icons created by juicy_fish - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/air-conditioning" title="air conditioning icons">Air conditioning icons created by Smashicons - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/heat" title="heat icons">Heat icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Smashicons - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/female" title="female icons">Female icons created by Pixel perfect - Flaticon</a>
<a href="https://www.freepik.es/foto-gratis/trabajador-servicio-coche-musculoso-reparando-vehiculo_10519444.htm#query=Mechanics%20repair&position=0&from_view=search&track=ais">Imagen de standret</a> en Freepik
<a href="https://www.freepik.es/foto-gratis/mecanico-cambiar-aceite-motor-vehiculo-automovil_11035720.htm#query=cambio%20aceite%20carro&position=1&from_view=search&track=ais">Imagen de aleksandarlittlewolf</a> en Freepik
<a href="https://www.freepik.es/foto-gratis/cambio-discos-freno-mecanico-servicio-automoviles_14922795.htm#query=brake%20repair&position=0&from_view=search&track=ais">Imagen de senivpetro</a> en Freepik
<a href="https://www.freepik.es/foto-gratis/primer-plano-manos-mecanico-empujando-neumatico-negro-taller_10001449.htm#query=tires&position=37&from_view=search&track=sph#position=37&query=tires">Imagen de standret</a> en Freepik
Imagen de <a href="https://www.freepik.es/foto-gratis/cerca-mujer-coche-electrico_19868518.htm#query=electronics%20car&position=7&from_view=search&track=ais">Freepik</a>
<a href="https://www.freepik.es/foto-gratis/hombre-reparacion-haciendo-servicio-coche_14921103.htm#query=Electronics%20car&position=2&from_view=search&track=ais">Imagen de senivpetro</a> en Freepik
<a href="https://www.freepik.es/foto-gratis/mecanico-que-usa-herramienta-diagnostico_1005282.htm#query=Electronics%20car&position=12&from_view=search&track=ais">Imagen de peoplecreations</a> en Freepik
<a href="https://www.freepik.es/foto-gratis/mecanico-sexo-femenino-que-sostiene-piezas-repuesto-coche_1005668.htm#query=Engine%20Repair&position=9&from_view=search&track=ais">Imagen de peoplecreations</a> en Freepik
<a href="https://www.freepik.es/foto-gratis/mano-mujer-encendiendo-sistema-aire-acondicionado-automovil_27158043.htm#query=aire%20acondicionado%20para%20autom%C3%B3vil%20detecci%C3%B3n%20de%20fugas&position=0&from_view=search&track=ais">Imagen de stefamerpik</a> en Freepik
<a href="https://www.freepik.es/foto-gratis/foto-primer-plano-diseno-salpicadero-coche_27091486.htm#query=heating%20system%20car&position=0&from_view=search&track=ais">Imagen de senivpetro</a> en Freepik
<a href="https://www.freepik.es/foto-gratis/coche-lujoso-estacionado-carretera-faro-iluminado-al-atardecer_30182536.htm#query=car&position=16&from_view=search&track=sph">Imagen de wirestock</a> en Freepik
<a href="https://www.flaticon.com/free-icons/mechanic" title="mechanic icons">Mechanic icons created by Good Ware - Flaticon</a>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
  </div>
</footer>
