
<section id="contact" class="bg-light">
  <div class="container-lg">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-xl-6 text-center px-3">
        <div
          data-aos="fade-right"
          class="row justify-content-center align-items-center mt-md-5"
        >
          <div
            class="cursor col-12 text-md-center text-center mt-5 display-6 fw-bold text-dark"
          >
            Get In Touch With Us
          </div>
          <div
            class="cursor px-4 col-10 text-md-center text-center mt-4 text-secondary"
          >
          Contact us today to schedule an appointment or to learn more about 
          our services. We're here to serve you!
          </div>
        </div>

        <div
          data-aos="fade-right"
          style="border-radius: 25px;"
          class="col-12 bg-white my-4 shadow-lg"
        >
        <div class="row justify-content-center align-items-center">
            <iframe [src]="infopage.urlMap" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 text-center mt-5 mt-xl-5">
        <div class="row justify-content-center align-items-center">
          <div
            data-aos="fade-left"
            style="
              border-radius: 25px;
              background: linear-gradient(to bottom, #b90000, #f30606);
            "
            class="grow col-md-5 col-9 text-start p-3 bg-dark"
          >
            <div class="col-12">
              <i class="bi bi-geo-alt fs-1 text-white"></i>
            </div>
            <div class="col-12 mt-1">
              <h3 class="text-light fw-bold">Address</h3>
            </div>
            <div class="col-12 mt-3">
              <p class="text-light">
                {{infopage.address}}
              </p>
            </div>
          </div>
          <div
            data-aos="fade-left"
            style="
              border-radius: 25px;
              background: linear-gradient(to bottom, #b90000, #f30606);
            "
            class="grow col-md-5 col-9 text-start p-3 bg-dark ms-md-4 mt-5 mt-md-0"
          >
            <div class="col-12">
              <i class="bi bi-people fs-1 text-white"></i>
            </div>
            <div class="col-12 mt-1">
              <h3 class="text-light fw-bold">Mission</h3>
            </div>
            <div class="col-12 mt-3">
              <p class="text-light">
                provide our customers with high-quality automotive repair while providing excellent customer service.              </p>
            </div>
          </div>
          <div
            data-aos="fade-left"
            style="
              border-radius: 25px;
              background: linear-gradient(to bottom, #b90000, #f30606);
            "
            class="grow col-md-5 col-9 text-start p-3 mt-5 bg-dark"
          >
            <div class="col-12">
              <i class="bi bi-file-person fs-1 text-white"></i>
            </div>
            <div class="col-12 mt-1">
              <h3 class="text-light fw-bold">About US</h3>
            </div>
            <div class="col-12 mt-3 ms-3">
              <li class="text-light">Memo Auto Repair INC</li>
              <li class="text-light">Auto Bodies R Us NY</li>
            </div>
          </div>
          <a href="mailto:info@memoautorepair.com?subject=I Want to contact with us&body=Name:%0AEmail:%0ATelephone:%0ASubject:%0A"
          data-aos="fade-left"
          style="
            border-radius: 25px;
            background: linear-gradient(to bottom, #b90000, #f30606);
            text-decoration: none;
          "
          class="cursor grow col-md-5 col-9 text-start p-3 mt-5 ms-md-4 bg-dark"
          >
          <div
          >
            <div class="col-12">
              <i class="bi bi-person-lines-fill fs-1 text-white"></i>
            </div>
            <div class="col-12 mt-1">
              <h3 class="text-light fw-bold">Contact Now</h3>
            </div>
            <div class="col-12 mt-3 ms-3" style="list-style-type: none;">
              <li class="text-light">info@memoautorepair.com</li>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>
 </section>
