<section
  id="intro"
  style="background-color: black;"
  class="p-0"
> 

  <app-carousel [images] = banner ></app-carousel>

  <div data-aos="fade-up" class="container-lg">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h1>
          <div class="cursor display-4 fw-bold text-white mx-md-3">
            Welcome to memo auto repair shop!
          </div>
        </h1>
        <div class="lead fs-3 text-white mt-4">
          <p class="cursor">
            Our team of 
            <span style="color: #ffc107;" class="fw-bold">highly skilled</span>
            professionals is here to provide you with the best assistance and personalized attention for your Car
          </p>
        </div>
        <div class="row justify-content-around align-items-center">
          <div
            class="cursor fs-5 col-md-8 col-12 lead text-white text-center px-md-4"
          >
            <p>
              Whether you need a major repair, routine maintenance, or simply have a question, we're here to help. We're committed to 
               
              <b style="color: #fac205;"> your satisfaction
              </b>
              and strive to provide high-quality service and competitive prices.
            </p>
          </div>
        </div>

        <div class="mt-3">
          <a
            href="#services"
            class="grow btn btn-md fw-bold btn-warning text-dark rounded-pill p-3"
          >
            Explore Our Services
            <i class="bi bi bi-person-workspace ms-1"></i>
          </a>
          <!-- <a style="background-color:white;" href="#services" class="mt-3 mt-sm-0 ms-sm-3 grow btn btn-md fw-bold btn-primary text-dark rounded-3 p-3">Explore Our Services  <i class="bi bi-person-workspace ms-1"></i></a> -->
        </div>

        <div class="row justify-content-center align-items-center mt-4">
          <div
            class="fst-italic fs-5 col-md-6 col-12 fw-bold lead text-white text-center px-md-5"
          >
            <p>
              At Memoautorepair, we offer high-quality car repair and customization services to keep your vehicle in top condition. Trust us to handle any problem your car may have and ensure your complete satisfaction with our work. 
            </p>
            <p style="color: #fac205;">See you soon !</p>
          </div>
          <div class="col-12 mt-3 bslink">
            <a href="#reviews" class="text-white">See Our Reviews</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
