<nav
  style="background: #ffffff"
  class="navbar navbar-expand-xl navbar-light p-3"
>
  <div class="container-xxl">
    <a href="#" class="navbar-brand">
      <img
        src="assets/memoautorepairlogo.png"
        style=" width: 120px; height: 57px;"
        alt="memoautorepairlogo"
        class="img-fluid"
        (click) ="togglePage('all')"
      />
    </a>
    <!-- Toggle button for navbar (Mobile Responsive) -->
    <button
      class="navbar-toggler bg-warning"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main-nav"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->

    <div
      id="main-nav"
      class="navbtndiv collapse navbar-collapse justify-content-end align-center"
    >
      <ul class="navbar-nav fw-bold">
        <li class="nav-item">
          <a
            href="#"
            style="color : #0f0f0f;"
            class="nav-link text-dark navbtn"
            (click) ="togglePage('all')"
            
          >
            Home
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            style="color: #000000;"
            class="nav-link text-dark navbtn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
          >
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a (click) ="togglePage('all')" class="dropdown-item" href="#services" >All Services</a></li>
            <li><a (click) ="togglePage('service')" class="dropdown-item" href="#service{{i-1 == -1 ? i : i-1}}" *ngFor="let service of getInfoPage() ; let i = index">{{service.title}}</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            href="#reviews"
            (click) ="togglePage('all')"
            style="color: #000000;"
            class="nav-link text-dark navbtn"
          >
            Reviews
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#news"
            (click) ="togglePage('news')"
            style="color: #000000;"
            class="nav-link text-dark navbtn"
          >
            News
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#facilities"
            (click) ="togglePage('all')"
            style="color: #000000;"
            class="nav-link text-dark navbtn"
          >
          Our facilities
          </a>
        </li>
        <li class="nav-item">
          <a
          href="#contact"
          (click) ="togglePage('all')"
            style="color: #000000;"
            class="nav-link text-dark navbtn"
          >
            Contact Us
          </a>
        </li>
        <li class="nav-item">
          <a
            style="
              background: rgb(255, 238, 0) !important;
              color: black !important;
              padding: 10px;
              margin: 0px !important;
            "
            href="tel:+17188548822"
            class="btn fw-bold btn-primary text-white d-xl-inline-flex ms-3 rounded-pill float-right"
          >
            <i class="bi bi-telephone-inbound-fill ms-1"> Call us!</i>
            &nbsp; +1 (718) 8548822 &nbsp;
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  // Add active class to the current button (highlight it)
  console.log('Validando')
  var btns = document.getElementsByClassName('navbtn')
  for (var i = 0; i < btns.length; i++) {
    console.log(btns.length)
    btns[i].addEventListener('click', function () {
      var current = document.getElementsByClassName('activebtn')
      current[0].className = current[0].className.replace(' activebtn', '')
      this.className += ' activebtn'
    })
  }
</script>
